@tailwind base;
@tailwind components;
@tailwind utilities;

/* On force le mode sombre par défaut */
body {
  @apply bg-slate-900 text-slate-100;
}

@layer utilities {
  /* Style Scrollbar Discord */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #2b2d31; 
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #1a1b1e; 
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #404249; 
  }
}